:root
{
  --favcolor: rgb(255,182,193);
}
h1
{
  text-align: center;
  color: var(--favcolor);
  background-color: rgb(255,245,238);
  font-size: 40pt;
}
section
{
  color: var(--favcolor);
  float: left;
}
p
{
  text-align: center;
  font-size: 15pt;
}
#mainpic
{
  border-radius: 50%;
}
div.button
{
  text-align: center;
}
